{% extends 'layout_application.html' %}
{% load i18n %}
{% load dw_tabs %}


{% block section_title %}
    <div class="project_detail" id="img_need_help">
        <h2 class="project_title" >Subjects</h2>
    </div>
{% endblock %}

{% block navigation %}
<div class="grid_24 tab_navigation">
    <ul>
        <li class="{% ifactivetab 'tab_nav' 'default' %}active{% else %}inactive{% endifactivetab %}">
            <a href="{% url datawinners.entity.views.create_subject %}" class="{{ disable_link_class }}">{% trans "Default form" %}</a>
        </li>
        <li class="{% ifactivetab 'tab_nav' 'editable' %}active{% else %}inactive{% endifactivetab %}">
            <a href="{% url datawinners.entity.views.subject_questionnaire %}" class="{{ disable_link_class }}">{% trans "Customized form" %}</a>
        </li>
    </ul>
</div>
{% endblock %}

