{% load i18n %}
{% for entity_key,entity in all_data.items %}
    <h3>{{ entity.code }}</h3>
    <table class="styled_table">
        <thead>
            {% for col in entity.fields %}
                <th>{{ col }}</th>
            {% endfor %}
        </thead>
        <tbody id='all_data_senders'>
        {% for row in entity.data %}
            <tr>
                {% for key,col in row.items %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
