{% load i18n %}
{% load hash_tag %}

{% for key in keys %}
    {% with entity=all_data|hash:key %}
    <h3 class="float_left">{{ entity.name }}</h3>
    <a class="float_right" href="{% ifequal entity.code "registration" %}{% url datawinners.entity.views.create_subject entity.name %}{% else %}{% url datawinners.entity.views.subject_questionnaire entity.name %}{% endifequal %}">Add a {{ entity.name|lower }}</a>
    <div class="clear_both"></div>
    <br/>
    <table class="styled_table">
        <thead>
            {% for col in entity.fields %}
                <th>{{ col }}</th>
            {% endfor %}
        </thead>
        <tbody id='all_data_senders'>
        {% for row in entity.data %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
{% endfor %}